node_modules
dist
scripts/*.log
.DS_Store
*.local
.vite

# Capacitor / iOS
ios/App/public
ios/App/Pods
ios/DerivedData

# Capacitor / Android
android/.gradle
android/app/build
android/build
android/local.properties
*.apk
*.aab
